<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/auth" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-key"></i>&nbsp;Autorización
        </a>
        <a [routerLink]="['/listing']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa fa-calendar-o"></i>&nbsp; Publicaciones
        </a>
        <a [routerLink]="['/questions']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-comments-o"></i>&nbsp; Preguntas
        </a>
        <a [routerLink]="['/sales']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tags"></i>&nbsp; Ventas
        </a>
    </div>
</nav>
